@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@400;800&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-color: #282d35;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 2em;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

/* MAIN SECTION */
main {
  padding: 2em;
  color: white;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  margin: 0;
  font-size: 36px;
  letter-spacing: -0.05em;
}

main ul {
  margin-top: 0;
}

.main--facts {
  margin-top: 20px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 5px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  }

  .nav--logo_text {
    margin-bottom: 0.5em;
  }

  main {
    padding: 1em;
  }

  .main--title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 700px;
    margin: 0 auto;
  }

  .main--title {
    font-size: 48px;
    margin-top: 1em;
  }

  .main--facts > li {
    font-size: 1.5rem;
    line-height: 25px;
    padding-block: 10px;
  }
}
